<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Practice Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js" defer></script>
    <!-- Note: defer, here, will tell Vue to wait until everything is loaded before continuing ... making something like a synchrony call -->
    <style>
      .disabled {
        color: whitesmoke;
        transition: .5s ease;
      }
      .enabled {
        color: black;
        transition: .5s ease;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <!-- Note: here, we have our ID ... the same that's being looked for by VUE when we put '#'app ...
      Moreover, until we end this /div, whatever is within these tags is the app's contents ... so if we want something to run during app, it needs to be put here-->
      <!-- <div><input v-model="message1" /></div> -->
      <!-- <p>{{ Showing JS here, instead of ref. .js file }}</p> -->

      <hr />
      <p>*Hide challenge*</p>
      <p>
        <div v-bind:class="{disabled: showSecret}">(click this button to show some stuff!)</div>
      </p>
      <button v-on:click="hideShow">Show/Hide a few messages! :</button>
      <p v-if="showSecret">Pea-KA-BOo !</p>
      <p>*Partial Secret Challenge*</p>
      <p>
        <div v-bind:class="{disabled: showSecret, enabled: !showSecret}">(if you click the button above, the text below will *also* beceome more visible!)</div>
      </p>
      <p>
        <div v-bind:class="{disabled: !showSecret, enabled: showSecret}">Gray-out this secret</div>
      </p>
      <p class="disabled">... Like this other one is</p>
      <hr />
      <p>*Add to Arrays challenge*</p>
      <!-- This makes a line between elements on the page -->
      Here are the current fruits in our array:
      <div v-for="blockVariable in fruits">{{ blockVariable }}</div>
      <input type="text" v-model="newFruit" />
      <button v-on:click="addFruit">Add a new fruit</button>
    </div>
    <hr />
  </body>
</html>
